@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
	color: red;
	font-size: 16px;
}

// @import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

input[type=radio],
input[type=checkbox] {
	width: 1.2em;
	height: 1.2em;
}


input[type=radio]:disabled {
	border-color: #B0BEC5;
	background-color: blue;
}

input[type=checkbox]:disabled {
	border-color: #B0BEC5;
	background-color: blue;
}